body {
	background-color: #ffffff;
}
.fixed_btn{

  position: fixed;
  bottom: 50px; 
  right: 30px;
  padding: 10px 40px;
  outline: none!important;
}
.btn-primary{
	outline: none!important;
}
.fixed_btn:hover{
	background: #cf3f2c;
}
.bg-light-1{
	background-color: #ffffff;
	box-shadow: 0px 4px 4px -5px rgba(0,0,0,0.5);
	height: 70px;
}
.button_sousin {
	width:130px;
	height:50px;
}

label {
display: block;
margin-bottom: 7px;
font-size: 86%;
}
input[type="text"],
textarea{
margin-bottom: 20px;
padding: 5px;
font-size: 17px;
border: 1px solid #ddd;
border-radius: 3px;
background: #fff;
font-family: FontAwesome;
resize: none;
-webkit-appearance: none; 
}
input[type=text]:focus {
    outline: none;
}
input[type="text"] {
width: 100%;
font-family: FontAwesome;
font-size: 17px;
border-radius: 5px;
border: none;
font-weight: bold;
}
textarea:focus {
    outline: none;
}
textarea {
border-radius: 5px;
width: 100%;
max-width: 100%;
height: 80px;
-webkit-appearance: none; 
border: none;
}

.b-b-b{
	width:100%;
	text-align: left;
	padding: 25px;
	background: rgb(255, 255, 255);
	box-shadow:0 2px 5px rgba(0,0,0,0.26);
	color: rgb(51, 51, 51);
	border: none;
	border-radius: 10px;
	outline: none!important;
}
.b-b-b:hover {
	background:rgb(226, 226, 226);
}
.underline {
  width: 100%;
  height: 2px;
  background:  #DB4437;
  transform-origin: center center;
  transform: scaleX(0);
  transition: transform 0.18s ease-out;
}
pp {
	color:#868686;
	font-weight: medium;
}
bb{
	color: rgb(255, 130, 113);
}
.input:focus + .underline {
    transform: scaleX(1);
  }

input[type="submit"] {
width:100%;
height: 40px;
appearance: none;
-webkit-appearance: none;
padding: 10px 20px;
color: rgb(243, 243, 243);
font-size: 86%;
outline: none!important;

line-height: 1.0em;
cursor: pointer;
border: none;
border-radius: 2px;
background-color:   #e26c62;
border-radius: 10px;
font-family: FontAwesome;
box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.btn{
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
input[type=submit]:hover,
button:hover {
background-color:  #ff8b81;
}

hr {
margin: 20px 0;
padding: 0;
}

.success_message {
margin-bottom: 20px;
padding: 10px;
color: #48b400;
border-radius: 10px;
border: 1px solid #4dc100;
}

.error_message {
margin-bottom: 20px;
padding: 10px;
color: #ef072d;
list-style-type: none;
border-radius: 10px;
border: 1px solid #ff5f79;
}

.success_message,
.error_message li {
font-size: 86%;
line-height: 1.6em;
}

.one_one {
	display: block;
	content: "";
	padding: 6px 0;
}


article {
margin-top: 10px;
padding: 25px;
border-radius: 10px;
background: #fff;
border-color: rgb(155, 155, 155);
}
article[type="funnys"]{
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
article.reply {
position: relative;
margin-top: 15px;
margin-left: 30px;
}

article.reply::before {
position: absolute;
top: -10px;
left: 20px;
display: block;
content: "";
border-top: none;
border-left: 7px solid #f7f7f7;
border-right: 7px solid #f7f7f7;
border-bottom: 10px solid #fff;
}
.info {
	margin-bottom: 10px;
}
.info h2 {
	display: inline-block;
	margin-right: 10px;
	color:  #222222;
	line-height: 1.6em;
	font-size: 16px;
	font-weight: bold;
}
.info time {
	color: #999;
	line-height: 1.6em;
	font-size: 80%;
}
article p {
	color: #555;
	font-size: 16px;
	line-height: 1.6em;
}
@media only screen and (max-width: 1200px) {

input[type="text"] {
	width: 100%;
}
textarea {
	width: 100%;
	max-width: 100%;
	height: 60px;
	resize: none;
}
input[type="submit"] {
appearance: none;
-webkit-appearance: none;
padding: 10px 20px;
color: #fff;
font-size: 86%;
line-height: 1.0em;
cursor: pointer;
border: none;
border-radius: 2px;
background-color:   #e26c62;
width:100%;
}

}

/*センタリングの実装*/
@media print, screen and (min-width: 640px) {
body{
	width:100%;
	text-align: center;
}
#wrap{
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

}

@media print, screen and (max-width: 640px) {
body{
	width:100%;
	text-align: center;
}
#wrap{
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

}